# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
Lib/
Scripts/
Include/
etc/

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
env/
.venv/
ENV/
pyvenv.cfg

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# DATASET 
# =========================
dataset/

# =========================
# OUTPUTS
# =========================
outputs/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# CACHE
# =========================
.cache/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# PYTORCH
# =========================
*.pth
*.pt

# =========================
# LARGE FILES
# =========================
*.tif
*.tiff
*.npy

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# MISC
# =========================
temp/
tmp/